{% extends 'base.html' %}

{% block title %}
Lista dei Libri
{% endblock %}

{% block content %}
<style>
  .libri-container {
    display: flex;
    flex-wrap: wrap;
    /* Permette l'avvolgimento dei libri su più righe */
    justify-content: space-between;
    /* Distribuisce uniformemente lo spazio tra i libri */
  }

  .libro {
    margin-right: 20px;
    flex: 0 0 auto;
    /* Impedisce la riduzione della larghezza dei libri */
  }
</style>

<h1 style="text-align: center;">Lista dei Libri</h1>
<div class="libri-container">
  {% for libro in libri %}
  <div class="libro">
    <h2>{{ libro.titolo }}</h2>
    <p>di {{ libro.autore }}</p>
    <div style="display: flex;">
      <form action="{% url 'gestione:prestito_libro' libro.id %}" method="get">
        <button type="submit" style="margin-right: 10px;">Prestito</button>
      </form>
      <form action="{% url 'gestione:reso_libro' libro.id %}" method="get">
        <button type="submit">Reso</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}